.javascript-quiz {
  text-align: center;
  
}

h1 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

p {
  text-align: center;
}

.btn {
  margin: 10px;
}

.choice-btns {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 80px;
  justify-content: center;
}

form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  justify-content: center;
}

.justify-content-center {
  font-size: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
}

.display-high-scores {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
}

#high-score-container {
  display: none;
}

#end-quiz-container {
  display: none;
}